easybits_subscription_baseline_seeder_workflow.json
{
  "name": "Subscription Baseline Seeder (powered by easybits)",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Render the email body to a minimal PDF that easybits can ingest.\n// Pure JavaScript, zero dependencies, runs on n8n Cloud sandbox.\n\nconst item = $input.item.json;\n\n// Pull email content. Prefer plain text; strip HTML if only HTML exists.\nlet bodyText = item.text || item.snippet || '';\nif (!bodyText && item.html) {\n  bodyText = item.html\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\n// Build a header so the extractor sees sender, subject, and date too\nconst subject = item.subject || '(no subject)';\nconst from = item.from?.value?.[0]?.address || item.from || '(unknown sender)';\nconst date = item.date || '';\nconst header = `From: ${from}\\nSubject: ${subject}\\nDate: ${date}\\n\\n`;\nconst fullText = header + bodyText;\n\n// Escape characters that have special meaning inside a PDF string\nconst esc = (s) => s.replace(/\\\\/g, '\\\\\\\\').replace(/\\(/g, '\\\\(').replace(/\\)/g, '\\\\)');\n\n// Wrap long lines and split on newlines so the PDF doesn't overflow\nconst MAX_CHARS_PER_LINE = 95;\nconst MAX_LINES_PER_PAGE = 55;\nconst lines = [];\nfor (const rawLine of fullText.split('\\n')) {\n  if (rawLine.length === 0) { lines.push(''); continue; }\n  for (let i = 0; i < rawLine.length; i += MAX_CHARS_PER_LINE) {\n    lines.push(rawLine.slice(i, i + MAX_CHARS_PER_LINE));\n  }\n}\n\n// Split lines across pages\nconst pages = [];\nfor (let i = 0; i < lines.length; i += MAX_LINES_PER_PAGE) {\n  pages.push(lines.slice(i, i + MAX_LINES_PER_PAGE));\n}\nif (pages.length === 0) pages.push(['(empty email body)']);\n\n// Build content streams (one per page)\nconst contentStreams = pages.map((pageLines) => {\n  const body = pageLines.map((line, idx) => {\n    if (idx === 0) return `BT /F1 11 Tf 50 780 Td (${esc(line)}) Tj`;\n    return `T* (${esc(line)}) Tj`;\n  }).join('\\n') + '\\nET';\n  return `q\\n14 TL\\n${body}\\nQ`;\n});\n\n// Assemble the PDF\nconst objects = [];\nconst addObj = (content) => { objects.push(content); return objects.length; };\n\nconst catalogId = addObj('<< /Type /Catalog /Pages 2 0 R >>');\nconst pagesId = addObj(null); // placeholder, fill in below\nconst fontId = addObj('<< /Type /Font /Subtype /Type1 /BaseFont /Helvetica >>');\n\nconst pageIds = [];\nconst contentIds = [];\nfor (const stream of contentStreams) {\n  const contentId = addObj(`<< /Length ${stream.length} >>\\nstream\\n${stream}\\nendstream`);\n  contentIds.push(contentId);\n  const pageId = addObj(`<< /Type /Page /Parent 2 0 R /MediaBox [0 0 612 792] /Resources << /Font << /F1 ${fontId} 0 R >> >> /Contents ${contentId} 0 R >>`);\n  pageIds.push(pageId);\n}\n\n// Fill pages object\nobjects[pagesId - 1] = `<< /Type /Pages /Kids [${pageIds.map((id) => `${id} 0 R`).join(' ')}] /Count ${pageIds.length} >>`;\n\n// Build the PDF byte string\nlet pdf = '%PDF-1.4\\n';\nconst offsets = [];\nfor (let i = 0; i < objects.length; i++) {\n  offsets.push(pdf.length);\n  pdf += `${i + 1} 0 obj\\n${objects[i]}\\nendobj\\n`;\n}\nconst xrefOffset = pdf.length;\npdf += `xref\\n0 ${objects.length + 1}\\n0000000000 65535 f \\n`;\nfor (const off of offsets) {\n  pdf += `${String(off).padStart(10, '0')} 00000 n \\n`;\n}\npdf += `trailer\\n<< /Size ${objects.length + 1} /Root ${catalogId} 0 R >>\\nstartxref\\n${xrefOffset}\\n%%EOF`;\n\n// Convert to binary buffer\nconst pdfBuffer = Buffer.from(pdf, 'binary');\n\nreturn {\n  json: {\n    email_id: item.id,\n    subject: subject,\n    from: from,\n    date: date,\n    has_attachment: !!(item.attachments && item.attachments.length > 0),\n  },\n  binary: {\n    ...$input.item.binary,\n    bodyPdf: await this.helpers.prepareBinaryData(pdfBuffer, 'body.pdf', 'application/pdf'),\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "33048723-26da-4a34-bf74-a2c79b5defbd",
      "name": "Prepare: Email Body"
    },
    {
      "parameters": {},
      "type": "@easybits/n8n-nodes-extractor.easybitsExtractor",
      "typeVersion": 2,
      "position": [
        320,
        -240
      ],
      "id": "f34db09a-8a44-43dd-a98f-9335b988bca3",
      "name": "Extract: Email Body",
      "credentials": {
        "easybitsExtractorApi": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// True branch: email has at least one PDF attachment.\n// 1. Stash the body extraction result so it survives the next Extractor call\n// 2. Promote the first PDF attachment to a standard binary key the Extractor can read\n\nconst item = $input.item;\nconst bodyExtraction = item.json.data || {};\n\n// Find the first PDF attachment (skip bodyPdf \u2014 that's our rendered email body)\nconst attachmentEntry = Object.entries(item.binary || {})\n  .find(([key, value]) =>\n    key !== 'bodyPdf' &&\n    (value.mimeType === 'application/pdf' || (value.fileName || '').toLowerCase().endsWith('.pdf'))\n  );\n\nif (!attachmentEntry) {\n  // Safety net \u2014 shouldn't happen because the IF already filtered, but just in case\n  throw new Error('No PDF attachment found despite IF branch routing here. Check the IF node logic.');\n}\n\nconst [attachmentKey, attachmentBinary] = attachmentEntry;\n\nreturn {\n  json: {\n    // Preserve everything from upstream\n    ...item.json,\n    // Stash the body extraction under a separate key so the next Extractor doesn't overwrite it\n    bodyData: bodyExtraction,\n    attachment_filename: attachmentBinary.fileName || 'attachment.pdf',\n  },\n  binary: {\n    // Promote the attachment to a known key for the next Extractor node\n    attachmentPdf: attachmentBinary,\n    // Keep bodyPdf around in case we want it later (e.g. for debugging or archival)\n    bodyPdf: item.binary.bodyPdf,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -256
      ],
      "id": "dcf4900b-3439-406e-b565-489cc6da62a1",
      "name": "Prepare: Attachment Binary"
    },
    {
      "parameters": {},
      "type": "@easybits/n8n-nodes-extractor.easybitsExtractor",
      "typeVersion": 2,
      "position": [
        1536,
        -256
      ],
      "id": "bb02693e-77af-4cf7-8825-69d58ae28299",
      "name": "Extract: PDF Attachment",
      "credentials": {
        "easybitsExtractorApi": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        -16
      ],
      "id": "34bb2e0c-577d-4204-97f2-34357863a730",
      "name": "Merge: Reattach Binary"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Merge the body and attachment extractions (when both exist) and stage a\n// clean row for the Google Sheets ledger.\n//\n// Branch awareness:\n//   - If item has `json.bodyData`, this came from the True branch (both\n//     extractions ran). Merge with body priority, attachment as fallback.\n//   - Otherwise, this came from the False branch (body extraction only).\n//     Use it as-is.\n\nconst item = $input.item.json;\n// Pull email metadata directly from the upstream \"Prepare: Email Body\" node.\n// The Extractor overwrites $json with its own {data: ...} envelope, so by the\n// time we get here the email metadata staged in Node 2 has been lost \u2014 except\n// when the True branch's \"Prepare: Attachment Binary\" explicitly stashed it.\nconst emailMeta = $('Prepare: Email Body').item.json;\n\n// Helper: the Extractor returns the literal string \"null\" for missing fields,\n// not real JSON null. Treat both as missing.\nconst isMissing = (v) =>\n  v === null ||\n  v === undefined ||\n  v === 'null' ||\n  (typeof v === 'string' && v.trim() === '');\n\n// Helper: pick body value if present, fall back to attachment value\nconst prefer = (bodyVal, attachVal) =>\n  isMissing(bodyVal) ? (isMissing(attachVal) ? null : attachVal) : bodyVal;\n\n// Determine which branch we came from\nconst cameFromTrueBranch = !!item.bodyData;\n\nlet merged;\nif (cameFromTrueBranch) {\n  const body = item.bodyData || {};\n  const attach = item.data || {};\n  merged = {\n    vendor: prefer(body.vendor, attach.vendor),\n    amount: prefer(body.amount, attach.amount),\n    currency: prefer(body.currency, attach.currency),\n    plan_name: prefer(body.plan_name, attach.plan_name),\n    billing_period: prefer(body.billing_period, attach.billing_period),\n    invoice_date: prefer(body.invoice_date, attach.invoice_date),\n  };\n} else {\n  const body = item.data || {};\n  merged = {\n    vendor: isMissing(body.vendor) ? null : body.vendor,\n    amount: isMissing(body.amount) ? null : body.amount,\n    currency: isMissing(body.currency) ? null : body.currency,\n    plan_name: isMissing(body.plan_name) ? null : body.plan_name,\n    billing_period: isMissing(body.billing_period) ? null : body.billing_period,\n    invoice_date: isMissing(body.invoice_date) ? null : body.invoice_date,\n  };\n}\n\n// Coerce amount to a number (the Extractor sometimes returns it as a string)\nif (merged.amount !== null) {\n  const parsed = parseFloat(String(merged.amount).replace(/,/g, ''));\n  merged.amount = isNaN(parsed) ? null : parsed;\n}\n\n// Normalize vendor: lowercase, trim, strip common suffixes (belt and braces \u2014\n// the Extractor description already asks for this, but never trust it 100%)\nif (merged.vendor !== null) {\n  merged.vendor = String(merged.vendor)\n    .toLowerCase()\n    .trim()\n    .replace(/\\s+(inc|llc|ltd|gmbh|sa|sas|corp|co)\\.?$/i, '')\n    .replace(/[.,]$/, '');\n}\n\n// Required-field check: skip rows that are unusable\nif (isMissing(merged.vendor) || merged.amount === null) {\n  throw new Error(\n    `Skipping receipt: missing vendor (${merged.vendor}) or amount (${merged.amount}). ` +\n    `Email: \"${emailMeta.subject}\" from ${emailMeta.from}. ` +\n    `Check the Extractor output \u2014 body may be empty or attachment may have unusual format.`\n  );\n}\n\nreturn {\n  json: {\n    // Ledger columns (matches Google Sheets schema)\n    date: merged.invoice_date || new Date().toISOString().slice(0, 10),\n    vendor: merged.vendor,\n    amount: merged.amount,\n    currency: merged.currency || 'USD',\n    plan_name: merged.plan_name || '',\n    billing_period: merged.billing_period || '',\n    source_label: 'historical',\n    email_id: emailMeta.email_id,\n    // Useful debug context (won't be written to the sheet unless we map it)\n    email_subject: emailMeta.subject,\n    email_from: emailMeta.from,\n    merge_source: cameFromTrueBranch ? 'body+attachment' : 'body-only',\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        0
      ],
      "id": "7c61edc5-f510-41eb-bd8b-3b8f1ea3990a",
      "name": "Merge & Stage: Receipt Row"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_GID",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email_id",
              "lookupValue": "={{ $json.email_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        0
      ],
      "id": "8c632304-0164-4d03-bf8d-68e7d4a0208a",
      "name": "Lookup: Email ID in Ledger",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f83af1d-8f9f-46bc-8e33-8da123a52fa0",
              "leftValue": "={{ !$json.email_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2448,
        0
      ],
      "id": "fad813ba-a0cd-4fda-befc-601fc9f2b9f5",
      "name": "Check: Already in Ledger?"
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Merge & Stage: Receipt Row').item.json.email_id }}",
        "labelIds": [
          "YOUR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3056,
        -272
      ],
      "id": "b887f899-01fa-49d7-9c15-8853a52f6107",
      "name": "Remove Label: Historical Invoice",
      "webhookId": "REGENERATE_ON_IMPORT",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=Duplicate receipt skipped: {{ $('Merge & Stage: Receipt Row').item.json.vendor }}",
        "message": "=<p>This receipt was already in the ledger and was not added again.</p>\n\n<p><strong>Receipt details</strong><br>\nVendor: {{ $('Merge & Stage: Receipt Row').item.json.vendor }}<br>\nAmount: {{ $('Merge & Stage: Receipt Row').item.json.amount }} {{ $('Merge & Stage: Receipt Row').item.json.currency }}<br>\nPlan: {{ $('Merge & Stage: Receipt Row').item.json.plan_name }}<br>\nBilling period: {{ $('Merge & Stage: Receipt Row').item.json.billing_period }}<br>\nDate on receipt: {{ $('Merge & Stage: Receipt Row').item.json.date }}</p>\n\n<p><strong>Original email</strong><br>\nSubject: {{ $('Merge & Stage: Receipt Row').item.json.email_subject }}<br>\nEmail ID: {{ $('Merge & Stage: Receipt Row').item.json.email_id }}</p>\n\n<p>The \"historical invoice\" label has been removed from this email.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2752,
        176
      ],
      "id": "466e66a1-a96d-4694-807c-5ffb3a6ef821",
      "name": "Notify: Receipt Already in Ledger",
      "webhookId": "REGENERATE_ON_IMPORT",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $('Merge & Stage: Receipt Row').item.json.email_id }}",
        "labelIds": [
          "YOUR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3056,
        176
      ],
      "id": "9e0597d2-3c13-4e3a-9680-88ff708fc8aa",
      "name": "Remove Label: Duplicate Path",
      "webhookId": "REGENERATE_ON_IMPORT",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "YOUR_LABEL_ID"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        0
      ],
      "id": "9020635e-7e51-4378-95ec-e503ccb4cedd",
      "name": "Trigger: Historical Invoice Label",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "003bde0e-b465-4884-b3a8-53d6403dc014",
              "leftValue": "={{ Object.keys($binary || {}).filter(k => k !== 'bodyPdf').length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "c2df0e1c-a740-424e-b41a-dc11dfa57431",
              "leftValue": "={{ Object.entries($binary || {}).some(([k, v]) => k !== 'bodyPdf' && v.mimeType === 'application/pdf') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        -16
      ],
      "id": "e2593e58-6e07-42cf-b7c5-ab2f513ccb31",
      "name": "Check: Has PDF Attachment?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_GID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Merge & Stage: Receipt Row').item.json.date }}",
            "vendor": "={{ $('Merge & Stage: Receipt Row').item.json.vendor }}",
            "amount": "={{ $('Merge & Stage: Receipt Row').item.json.amount }}",
            "currency": "={{ $('Merge & Stage: Receipt Row').item.json.currency }}",
            "plan_name": "={{ $('Merge & Stage: Receipt Row').item.json.plan_name }}",
            "billing_period": "={{ $('Merge & Stage: Receipt Row').item.json.billing_period }}",
            "source_label": "={{ $('Merge & Stage: Receipt Row').item.json.source_label }}",
            "email_id": "={{ $('Merge & Stage: Receipt Row').item.json.email_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "plan_name",
              "displayName": "plan_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "billing_period",
              "displayName": "billing_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_label",
              "displayName": "source_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_id",
              "displayName": "email_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        -272
      ],
      "id": "809eac09-5e51-462d-ad59-39c2e548b92f",
      "name": "Append: Receipt to Ledger",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "YOUR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "content": "## \ud83d\udce9 Trigger: New Labeled Email\nWatches Gmail for new emails carrying the `historical invoice` label. Whenever Tom labels a receipt, the workflow picks it up on the next poll (every minute). PDF attachments are downloaded automatically.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -256
      ],
      "typeVersion": 1,
      "id": "21fbec5b-cb7f-4107-a25e-c849d814742d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcc4 Prepare Email Body\nThis step takes the email's subject, sender, date, and body and turns them into a clean format that easybits can read. Pure JavaScript, no external services needed.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -256
      ],
      "typeVersion": 1,
      "id": "a7956537-7c63-4829-960e-8ed5eda26afb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## \ud83e\udd16 Extract Receipt Details from Email Body\nSends the email body PDF to the **easybits** Extractor pipeline. easybits reads it and returns 6 structured fields: vendor, amount, currency, plan name, billing period, and invoice date.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -512
      ],
      "typeVersion": 1,
      "id": "931948e9-b738-4eb6-acee-5cd95d283206",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd17 Reattach the Original Attachment\nThe Extractor drops attachments after processing. This step reunites the extracted data with the original PDF attachment (if there was one) so the next step can check whether one exists.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -256
      ],
      "typeVersion": 1,
      "id": "3d16cba1-3bcd-4ee9-be71-dc31d5ce060a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd00 Does the Email Have a PDF Attachment?\nSome receipts have all the info in the email body. Others come as a PDF attachment with a short note in the email. This branch checks if there's a PDF attached and, if so, sends it through a second round of extraction.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -256
      ],
      "typeVersion": 1,
      "id": "bfd2a384-17eb-4799-aa36-850c53773f60",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcce Prepare the PDF Attachment\nSaves the email body's extraction results to the side (so they don't get lost), then picks out the first PDF attachment and hands it to the next step for a second round of extraction.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        -512
      ],
      "typeVersion": 1,
      "id": "65cb1c50-524d-4e35-b838-bf9bc6dd1223",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## \ud83e\udd16 Extract Receipt Details from Attachment\nSends the PDF attachment to the same **easybits** pipeline. Returns the same 6 fields again \u2013 this time from the attachment's content. Useful as a backup in case the email body was light on details.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -512
      ],
      "typeVersion": 1,
      "id": "b14dbb81-1201-4aaf-b873-f6f081a7fc35",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## \ud83e\uddee Combine Both Extractions\nIf both the email body and the attachment were processed, this step merges the two \u2013 preferring whatever the email body said, and falling back to the attachment for any missing fields. The result: one clean row ready for the Google Sheet.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        -256
      ],
      "typeVersion": 1,
      "id": "82507ba9-1c34-4869-9a04-0344a481e438",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd0d Check if This Receipt is Already in the Ledger\nSearches the Google Sheet for a row with the same email ID. This is the safety net: if Tom accidentally labels the same email twice, the workflow won't add it again.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        -256
      ],
      "typeVersion": 1,
      "id": "3ad088b3-d7c2-4c46-b991-17f49a11edbe",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## \ud83d\udd00 New Receipt or Duplicate?\nRoutes the receipt down one of two paths \u2013 either it's new (add it to the ledger) or it's already there (send a heads-up email and skip).",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        -256
      ],
      "typeVersion": 1,
      "id": "cd63bc53-83ee-4d49-98dd-aa7ec9312ed7",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## \u2705 Add Receipt to the Ledger\nAppends the receipt as a new row in the **Subscription Ledger** Google Sheet. This row becomes part of the baseline for future price comparisons.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        -512
      ],
      "typeVersion": 1,
      "id": "3ab63b90-5e32-400a-830d-1cdd37a42c4a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## \ud83c\udff7\ufe0f Remove Label\nStrips the `historical invoice` label from the email so it isn't processed again on the next poll.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        -512
      ],
      "typeVersion": 1,
      "id": "0d5e3679-c1a0-496d-a34b-35faf89863a8",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## \ud83d\udce7 Send Duplicate Notice\nSends Tom a short email letting him know this receipt was already in the ledger and wasn't added again. Keeps him in the loop without cluttering the Sheet.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        -64
      ],
      "typeVersion": 1,
      "id": "e88c90a1-1012-486f-8d3f-80d8a7fd1156",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## \ud83c\udff7\ufe0f Remove Label\nStrips the `historical invoice` label so the duplicate email isn't picked up again.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        -64
      ],
      "typeVersion": 1,
      "id": "8633adaf-cb59-45b6-aeff-7b9f6ac807a5",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# \ud83d\udcb8 Subscription Baseline Seeder (powered by easybits)\n\n## What This Workflow Does\nTom's stack of AI tool subscriptions kept getting more expensive without him noticing. This workflow watches Gmail for subscription receipts that he labels `historical invoice`, reads the vendor, amount, plan, and date from each one (whether the info is in the email body or in a PDF attachment), and saves them all to a Google Sheet. This builds the **baseline** that the companion workflow \u2013 Subscription Price Drift Monitor \u2013 uses to detect price increases later.\n\nUse this workflow once to seed the last few months of receipts per vendor, then leave the monitor running.\n\n## How It Works\n1. Tom labels a receipt email with `historical invoice` in Gmail\n2. The email body is converted into a PDF the **easybits** Extractor can read\n3. easybits pulls out vendor, amount, currency, plan, billing period, and date\n4. If the email also has a PDF receipt attached, easybits reads that too \u2013 and any missing fields in the email body get filled in from the attachment\n5. The workflow checks whether this receipt is already in the ledger\n6. If new \u2192 it's added to the Google Sheet; if duplicate \u2192 a \"skipped\" notice goes to Tom's inbox\n7. The Gmail label is removed so the email isn't processed again\n\n## Setup Guide\n\n### 1. Create the Gmail Label\nIn Gmail, create a label called `historical invoice` (lowercase, with the space). Apply it to the receipts you want to seed.\n\n### 2. Set Up Your easybits Extractor Pipeline\n1. Go to **extractor.easybits.tech**, sign up, and click **Create a Pipeline**\n2. Name it `Subscription Receipt` and upload a sample receipt PDF as your reference document\n3. Add these 6 fields manually with the descriptions provided in the **easybits Extractor docs** linked in the GitHub repo\n4. Save & test the pipeline against your sample\n5. Copy your **Pipeline ID** and **API Key**\n\n### 3. Create the Google Sheet\n1. Create a new Google Sheet called **Subscription Ledger**\n2. Rename the first tab to `Receipts`\n3. Add these column headers in row 1, in this exact order: `date` \u00b7 `vendor` \u00b7 `amount` \u00b7 `currency` \u00b7 `plan_name` \u00b7 `billing_period` \u00b7 `source_label` \u00b7 `email_id`\n4. Format column **A** (`date`) as Plain Text and column **C** (`amount`) as Number with 2 decimal places\n\n### 4. Connect Credentials in n8n\n1. **Gmail Trigger** \u2013 connect your Gmail OAuth and select the `historical invoice` label\n2. **easybits nodes** \u2013 paste your API key and Pipeline ID into both Extractor nodes\n3. **Google Sheets nodes** \u2013 connect your Google Sheets OAuth and point all three nodes at the **Subscription Ledger** sheet\n4. **Gmail notification + label nodes** \u2013 confirm your Gmail OAuth is selected\n\n### 5. Test and Activate\nRun the workflow manually with one labeled receipt. Check the Google Sheet for a new row and confirm the label was removed. Once it works end-to-end, activate the workflow.\n\n### 6. Seed Your Baseline\nLabel your last 2\u20133 receipts per vendor with `historical invoice`. The workflow will process them one by one as Gmail polls.\n\nOnce the baseline is seeded, switch over to the companion workflow \u2013 **Subscription Price Drift Monitor** \u2013 to start catching price increases automatically.",
        "height": 1472,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        -864
      ],
      "typeVersion": 1,
      "id": "50cf05d7-4268-4d70-8e24-be1373b55136",
      "name": "Sticky Note14"
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare: Email Body": {
      "main": [
        [
          {
            "node": "Extract: Email Body",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Reattach Binary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract: Email Body": {
      "main": [
        [
          {
            "node": "Merge: Reattach Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare: Attachment Binary": {
      "main": [
        [
          {
            "node": "Extract: PDF Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Reattach Binary": {
      "main": [
        [
          {
            "node": "Check: Has PDF Attachment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract: PDF Attachment": {
      "main": [
        [
          {
            "node": "Merge & Stage: Receipt Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Stage: Receipt Row": {
      "main": [
        [
          {
            "node": "Lookup: Email ID in Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup: Email ID in Ledger": {
      "main": [
        [
          {
            "node": "Check: Already in Ledger?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Already in Ledger?": {
      "main": [
        [
          {
            "node": "Append: Receipt to Ledger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Receipt Already in Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Receipt Already in Ledger": {
      "main": [
        [
          {
            "node": "Remove Label: Duplicate Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Historical Invoice Label": {
      "main": [
        [
          {
            "node": "Prepare: Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Has PDF Attachment?": {
      "main": [
        [
          {
            "node": "Prepare: Attachment Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge & Stage: Receipt Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append: Receipt to Ledger": {
      "main": [
        [
          {
            "node": "Remove Label: Historical Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "tags": []
}