Stresstest_Workflow_easybits_Extractor_shareable.json
{
  "name": "Stresstest Workflow (easybits Extractor verified community node)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Document Upload Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload",
              "fieldType": "file"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        16,
        96
      ],
      "id": "0fcb599c-7cce-45a3-bbdb-179ae3078e79",
      "name": "Document Upload",
      "webhookId": ""
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9749b03-86a3-42ab-9bea-2e37b3bc2f45",
              "name": "amount_due_status",
              "value": "={{ $json.data.amount_due === 0 ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "d155a6b5-108b-4634-9cf0-d857b582ecd0",
              "name": "amount_paid_status",
              "value": "={{ $json.data.amount_paid === 73.82 ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "a160371f-7ca0-4453-bd9e-b665839f1d18",
              "name": "billing_period_status",
              "value": "={{ $json.data.billing_period === \"Jan 15 to Feb 15, 2026\" ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "7ecd25a0-9ebb-4538-a754-3719cabfb3fe",
              "name": "currency_status",
              "value": "={{ $json.data.currency === \"EUR\" ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "ebf4410d-9528-4825-8522-9f4702ef2814",
              "name": "customer_name_status",
              "value": "={{ $json.data.customer_name === \"Max Mustermann\" ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "0b5f14ea-ab7c-4d9b-869a-a5dc293b799d",
              "name": "invoice_date_status",
              "value": "={{ $json.data.invoice_date === \"Jan 15, 2026\" ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "92da2d35-6694-4113-8572-2f58b1e5a235",
              "name": "invoice_number_status",
              "value": "={{ $json.data.invoice_number === \"IN-2026-0022514\" ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "f51863ca-174f-48cc-949d-af161fd3140e",
              "name": "payment_status_status",
              "value": "={{ $json.data.payment_status === \"PAID\" ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "678b30ca-69eb-424c-bd3a-c383b166b7d4",
              "name": "total_amount_status",
              "value": "={{ $json.data.total_amount === 73.82 ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "6b94284d-8ebb-4896-8dcf-203b2272b0ff",
              "name": "vendor_name_status",
              "value": "={{ $json.data.vendor_name === \"easybits GmbH\" ? \"correct ✅\" : \"incorrect ❌\" }}",
              "type": "string"
            },
            {
              "id": "51efc06b-0fc7-409c-b5a9-7b8a0947698c",
              "name": "accuracy_percent",
              "value": "={{ (\n  ($json.data.amount_due === 0 ? 1 : 0) +\n  ($json.data.amount_paid === 73.82 ? 1 : 0) +\n  ($json.data.billing_period === \"Jan 15 to Feb 15, 2026\" ? 1 : 0) +\n  ($json.data.currency === \"EUR\" ? 1 : 0) +\n  ($json.data.customer_name === \"Max Mustermann\" ? 1 : 0) +\n  ($json.data.invoice_date === \"Jan 15, 2026\" ? 1 : 0) +\n  ($json.data.invoice_number === \"IN-2026-0022514\" ? 1 : 0) +\n  ($json.data.payment_status === \"PAID\" ? 1 : 0) +\n  ($json.data.total_amount === 73.82 ? 1 : 0) +\n  ($json.data.vendor_name === \"easybits GmbH\" ? 1 : 0)\n) / 10 * 100 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        96
      ],
      "id": "9b51006c-7343-412d-87b2-55005b5e1aa1",
      "name": "Validation"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        384
      ],
      "id": "f7f9ba54-b830-4f2b-abae-e31d3183923c",
      "name": "Merge Ground Truth"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4ee8a43-3aea-431f-8d9b-4d856fb07190",
              "name": "gt_amount_due",
              "value": 0,
              "type": "number"
            },
            {
              "id": "69e34d32-9262-411c-acb3-bac059b8095f",
              "name": "gt_amount_paid",
              "value": 73.82,
              "type": "number"
            },
            {
              "id": "d8b4619b-aedf-4207-a142-1903c5417239",
              "name": "gt_billing_period",
              "value": "Jan 15 to Feb 15, 2026",
              "type": "string"
            },
            {
              "id": "1766bb6f-ab35-4032-b47a-fdb429521f04",
              "name": "gt_currency",
              "value": "EUR",
              "type": "string"
            },
            {
              "id": "bbaea181-5391-494b-80a3-58756692203c",
              "name": "gt_customer_name",
              "value": "Max Mustermann",
              "type": "string"
            },
            {
              "id": "efb28932-894d-4357-9e0a-2dd989fef99a",
              "name": "gt_invoice_date",
              "value": "Jan 15, 2026",
              "type": "string"
            },
            {
              "id": "3df929a7-ca9e-4a50-96cf-06e41856772b",
              "name": "gt_invoice_number",
              "value": "IN-2026-0022514",
              "type": "string"
            },
            {
              "id": "d281a5cb-07d0-481d-b71b-8844aaf975a9",
              "name": "gt_payment_status",
              "value": "PAID",
              "type": "string"
            },
            {
              "id": "2feba545-bd40-4c4e-9519-741c1aeca7d2",
              "name": "gt_total_amount",
              "value": 73.82,
              "type": "number"
            },
            {
              "id": "29eff29d-9fe0-4a03-97d4-3ed0cc59dfb0",
              "name": "gt_vendor_name",
              "value": "easybits GmbH",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        96
      ],
      "id": "3a2a3e96-586d-4f5c-997c-adad9e466725",
      "name": "Ground Truth"
    },
    {
      "parameters": {
        "content": "# 🧪 easybits Extractor – Stress Test Workflow\n\n## What This Workflow Does\nUpload the same invoice in different qualities (original PDF, scanned copy, phone photo, compressed JPEG, etc.) and instantly see how accurately each field was extracted. The workflow compares every extracted value against a fixed ground truth and returns a per-field pass/fail report with an overall accuracy percentage – directly in the browser.\n\n## How It Works\n1. **Upload** – A document is submitted through the n8n web form\n2. **Extract** – easybits Extractor processes the file and returns structured data\n3. **Compare** – Each extracted field is compared against the known correct values\n4. **Report** – A completion screen shows which fields matched and the overall accuracy\n\n## Setup Guide\n\n### 1. Connect Your easybits Credentials\nOpen the **easybits Extractor** node and connect your API credentials. The node will use your existing extraction pipeline – no special configuration needed.\n\n### 2. Adjust the Ground Truth (if needed)\nThe **Ground Truth** node contains the expected values for all 10 fields. If you're testing with a different document, update these values to match your reference invoice.\n\n### 3. Activate & Test the workflow by uploading your first test document\n\n---\n\n## 🔄 Want to Test a Different Extraction Solution?\nYou can swap out the easybits Extractor node for an **HTTP Request node** pointing at any other extraction API. As long as your HTTP node returns the same field names under `json.data` (e.g. `data.invoice_number`, `data.amount_paid`, etc.), the rest of the workflow – ground truth comparison, validation, and results display – works identically. This makes it easy to benchmark multiple solutions side by side using the exact same test documents and accuracy criteria.",
        "height": 912,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -352
      ],
      "typeVersion": 1,
      "id": "a8a48fb4-163a-4b3a-8ba9-887736b25b07",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📥 Document Upload\nHosts a simple web form with a single file upload field. Set to \"Workflow Finishes\" mode so the browser waits for the full pipeline to complete before showing results.",
        "height": 384,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -112
      ],
      "typeVersion": 1,
      "id": "b1edcf65-811a-43b3-ad64-2d283af43e68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🤖 easybits Data Extraction\nSends the uploaded file to the easybits Extractor API. Returns structured fields under `json.data` – including invoice number, amounts, dates, vendor, and payment status.",
        "height": 384,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        -112
      ],
      "typeVersion": 1,
      "id": "d4082c17-e4fb-4b05-b4cc-aa3b0f3968fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📋 Ground Truth\nHolds the known correct values for all 10 fields, prefixed with `gt_` to avoid name collisions after merging. Update these values if you switch to a different test document.",
        "height": 384,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        -112
      ],
      "typeVersion": 1,
      "id": "54adb19b-1033-4358-a88e-7b0d608a6a09",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🔀 Merge Ground Truth\nCombines the extracted data (Input 1) with the ground truth values (Input 2) into a single item using positional merge. This puts both datasets side by side for comparison.",
        "height": 384,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        176
      ],
      "typeVersion": 1,
      "id": "a951b9cd-a29f-42db-904c-7a236b188f9d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## ✅ Validation\nCompares each extracted field against its ground truth value. Outputs a status per field (correct ✅ / incorrect ❌) and calculates the overall accuracy as a percentage.",
        "height": 384,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        -112
      ],
      "typeVersion": 1,
      "id": "8f89e502-1420-43e8-8db6-4b1ee5224f51",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 📊 Results\nDisplays the final report as a form completion page. Shows the accuracy percentage and a per-field breakdown so you can immediately see which fields were extracted correctly and which ones drifted.",
        "height": 384,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -112
      ],
      "typeVersion": 1,
      "id": "7d2fa37b-5d86-4909-8a9e-e3095a1b73a8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "@easybits/n8n-nodes-extractor.easybitsExtractor",
      "typeVersion": 2,
      "position": [
        320,
        96
      ],
      "id": "3fefe62e-e5eb-45c3-9585-d5296790e0f8",
      "name": "easybits: Data Extraction"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Stresstest Results",
        "completionMessage": "=Extraction Accuracy: {{ $json.accuracy_percent }}%<br><br>Vendor Name: {{ $json.vendor_name_status }}<br>Customer Name: {{ $json.customer_name_status }}<br>Invoice Number: {{ $json.invoice_number_status }}<br>Invoice Date: {{ $json.invoice_date_status }}<br>Billing Period: {{ $json.billing_period_status }}<br>Currency: {{ $json.currency_status }}<br>Total Amount: {{ $json.total_amount_status }}<br>Amount Paid: {{ $json.amount_paid_status }}<br>Amount Due: {{ $json.amount_due_status }}<br>Payment Status: {{ $json.payment_status_status }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1536,
        96
      ],
      "id": "55f36569-dd9b-4957-ba75-e6df41977ffc",
      "name": "Results in Form",
      "webhookId": ""
    }
  ],
  "pinData": {},
  "connections": {
    "Document Upload": {
      "main": [
        [
          {
            "node": "easybits: Data Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Ground Truth": {
      "main": [
        [
          {
            "node": "Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ground Truth": {
      "main": [
        [
          {
            "node": "Merge Ground Truth",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Validation": {
      "main": [
        [
          {
            "node": "Results in Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "easybits: Data Extraction": {
      "main": [
        [
          {
            "node": "Merge Ground Truth",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ground Truth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
