easybits-document-classification-and-confidence-score/easybits_classification_workflow_with_confidence_score.json
{
  "name": "easybits' Extractor Classification Workflow (Community Node Update)",
  "nodes": [
    {
      "parameters": {
        "content": "## 📋 Form Upload\nAccepts a file upload via a **web form**. Supports **PDF, PNG, and JPEG**.",
        "height": 320,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -160
      ],
      "typeVersion": 1,
      "id": "8da8cbef-6c27-4780-bf3d-c1429967f0d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 📄 easybits' Document Classification & Confidence Scoring\n\n## What This Workflow Does\nUpload a document (PDF, PNG, or JPEG) via a hosted web form and let the **easybits Extractor** classify it into one of your defined categories — **with a self-reported confidence score** on every classification. Low-confidence or unclassifiable documents are routed to Slack for manual review. Everything else continues through your pipeline.\n\n## Why Confidence Scoring Matters\nClassification without confidence scoring is a black box: you never know whether the model was sure or guessing. By asking the extractor to return both `document_class` and `confidence_score` in a single call, you get a clean signal for routing decisions and a trivial error-handling pattern — no separate model call, no extra latency, no extra cost.\n\n## How It Works\n1. **Form Upload** – A user uploads a file through the n8n web form.\n2. **Classify + Score via easybits** – The file is sent to the easybits Extractor, which returns two fields: `document_class` (e.g. `medical_invoice`, `hotel_invoice`, or `null` if uncertain) and `confidence_score` (a decimal between 0.0 and 1.0).\n3. **Validation** – An IF node checks whether the class is empty OR the confidence is below 0.5. Either condition routes the document to Slack for manual review. Everything else passes through to the success branch.\n4. **Continue Pipeline** – From here, extend the workflow however you like: route to Google Drive folders, log to a spreadsheet, trigger type-specific extraction, etc.\n\n## Setup Guide\n\n### 1. Create Your easybits Extractor Pipeline\n1. Go to **extractor.easybits.tech** and create a new pipeline.\n2. Add **two fields** to the mapping:\n   - `document_class` – for the classification label\n   - `confidence_score` – for the self-reported confidence\n3. In the description of each field, paste the matching prompt. Use the two prompt sticky notes in this workflow as starting points — they're production-tested.\n4. Adjust the categories and threshold guidance to fit your use case.\n\n### 2. Install the easybits Extractor Node\n1. The node is **verified** and works on n8n Cloud out of the box — just search for it in the node panel.\n2. For self-hosted instances: **Settings → Community Nodes → Install** `@easybits/n8n-nodes-extractor`.\n\n### 3. Configure the Node\n1. Add the **easybits Extractor** node to your workflow.\n2. Enter your **Pipeline ID** and **API Key** from the pipeline details page.\n\nThe node reads binary data directly from the previous node. No Base64 conversion or manual HTTP configuration needed.\n\n### 4. Tune the Confidence Threshold\nThe default threshold in the IF node is **0.5**. Raise it (e.g. 0.7) if your downstream pipeline is sensitive to misclassification, or lower it if you'd rather catch more edge cases manually. Adjust based on your review capacity.\n\n### 5. Activate & Test\n1. Click **Active** in the top-right corner of n8n.\n2. Open the form URL and upload a test document — try both a clear-cut case and an ambiguous one.\n3. Check the execution output: you should see your `document_class` and `confidence_score` in the response, and the review branch should fire on the ambiguous document.\n\n## Credentials to Configure\n- **easybits Extractor** – Pipeline ID + API Key\n- **Slack** – workspace credentials and the channel/user to receive review alerts",
        "height": 1472,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -592
      ],
      "typeVersion": 1,
      "id": "b7de03db-e825-4a95-9835-eb6355e290da",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 🚀 Classify + Score\nSends the uploaded document to the **easybits Extractor**, which returns two fields in a single call: `document_class` (the assigned category or `null`) and `confidence_score` (0.0–1.0).",
        "height": 320,
        "width": 576,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -160
      ],
      "typeVersion": 1,
      "id": "98f01f20-cfeb-42f5-9acf-18c6287ca307",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ✅ Validation Check\nChecks whether the classification is trustworthy. Uses **OR logic** across two conditions:\n\n- `document_class` is empty → model could not assign a category\n- `confidence_score` is below **0.5** → model is unsure about its decision\n\nEither one routes to Slack for manual review. Only high-confidence, clearly classified documents continue through the pipeline.",
        "height": 448,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -288
      ],
      "typeVersion": 1,
      "id": "005bb615-c5a1-45a2-a3e3-c9ef67f0081a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 💬 Slack Alert\nPosts a review notification to the finance channel when a document cannot be classified confidently. Includes the assigned class (or `null`), the confidence score, and a timestamp so the reviewer can quickly find and handle the document manually.",
        "height": 448,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -288
      ],
      "typeVersion": 1,
      "id": "04a78b6d-e3a8-4319-b0eb-efd17d52310c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "formTitle": "Image Upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "image",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -80,
        -16
      ],
      "id": "2abe9d70-4f3e-4e73-9bca-2f6ded351e1f",
      "name": "Form Trigger: Upload Document",
      "webhookId": ""
    },
    {
      "parameters": {},
      "type": "@easybits/n8n-nodes-extractor.easybitsExtractor",
      "typeVersion": 2,
      "position": [
        400,
        -16
      ],
      "id": "462ab12e-29e9-44f3-93cd-06bb395c08b4",
      "name": "easybits: Classify & Score",
      "credentials": {
        "easybitsExtractorApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7761fcc-381a-4d02-baff-21528a6678cc",
              "leftValue": "={{ $json.data.document_class }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a3df6a9d-67f6-46b1-b61c-31f033b3d16e",
              "leftValue": "={{ $json.data.confidence_score }}",
              "rightValue": 0.5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "c734be16-587a-4bee-830b-dbb2e718107a",
              "leftValue": "={{ $json.data.document_class }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        944,
        -16
      ],
      "id": "e4b96f52-882c-4a64-828a-080245c51dcd",
      "name": "IF: Empty or Low Confidence"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "YOUR_SLACK_USER_OR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SLACK_USER_OR_CHANNEL_NAME"
        },
        "text": "=⚠️ Document needs manual review\n\nName: {{ $('Form Trigger: Upload Document').item.json.image[0].filename }}\nClassification: {{ $json.data.document_class || 'null' }}\nConfidence: {{ $json.data.confidence_score }}\n\nThe easybits Extractor either could not assign a category or returned a low-confidence result. Please review the uploaded document manually.\n\nTimestamp: {{ $now.toISO() }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1376,
        -32
      ],
      "id": "ac6303cf-edc8-4fe1-ae6d-0d61587dc53d",
      "name": "Slack: Notify – Needs Review",
      "webhookId": "",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1376,
        256
      ],
      "id": "afc16b16-9464-41cf-9080-4a05d97e92ff",
      "name": "Continue Workflow"
    },
    {
      "parameters": {
        "content": "## 📊 Classification Prompt\nPaste the full prompt into the description of the `document_class` field in your easybits pipeline.\n\n**What it does:**\nAssigns one of 5 categories – `medical_invoice`, `restaurant_invoice`, `hotel_invoice`, `trades_invoice`, `telecom_invoice` – or returns `null` if the document doesn't cleanly fit any category.\n\n👉 Full prompt: https://github.com/felix-sattler-easybits/n8n-workflows/blob/aa5d2502b3ef0a87e52833a2a3a44b99a297ff82/easybits-document-classification-and-confidence-score/easybits_classification_prompt.md",
        "height": 528,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        176
      ],
      "typeVersion": 1,
      "id": "d761b8e5-f137-474c-ab7e-5f53eea80485",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🎯 Confidence Scoring Prompt\nPaste the full prompt into the description of the `confidence_score` field in your easybits pipeline.\n\n**What it does:**\nReturns a decimal between 0.0 and 1.0 representing how certain the model is about its classification decision – including `null` decisions.\n\n👉 Full prompt: https://github.com/felix-sattler-easybits/n8n-workflows/blob/aa5d2502b3ef0a87e52833a2a3a44b99a297ff82/easybits-document-classification-and-confidence-score/easybits_confidence_scoring_prompt.md",
        "height": 448,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        176
      ],
      "typeVersion": 1,
      "id": "784e6ee0-62e3-4b80-a2fc-c8dcfd4c5566",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger: Upload Document": {
      "main": [
        [
          {
            "node": "easybits: Classify & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "easybits: Classify & Score": {
      "main": [
        [
          {
            "node": "IF: Empty or Low Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Empty or Low Confidence": {
      "main": [
        [
          {
            "node": "Slack: Notify – Needs Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "AI Classification"
    },
    {
      "name": "easybits"
    },
    {
      "name": "Document Processing"
    },
    {
      "name": "AI"
    }
  ]
}