error-handling-workflow/easybits_extractor_error_handling_workflow.json
{
  "name": "easybits Extractor Error Handling Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "@easybits/n8n-nodes-extractor.easybitsExtractor",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "id": "ea5f0e2c-b460-40de-abca-807b6ee6f3fa",
      "name": "easybits: Extract Invoice Number"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7761fcc-381a-4d02-baff-21528a6678cc",
              "leftValue": "={{ $json.data.invoice_number }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        0
      ],
      "id": "900717de-5210-4e2a-8351-9096c9d13e34",
      "name": "Validate: Invoice Number Present"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "YOUR_SLACK_USER_OR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SLACK_USER_OR_CHANNEL"
        },
        "text": "=⚠️ Extraction failed\nAttachment {{ $('Gmail Trigger: New Invoice').item.json.headers.from }}\nEmail {{ $('Gmail Trigger: New Invoice').item.json.headers.subject }}\n\nInvoice number could not be extracted — needs manual review.\n\nTimestamp: {{ $now.toISO() }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1072,
        -16
      ],
      "id": "cbe4c2c4-42f9-4b2b-a548-e04547bd29ea",
      "name": "Slack: Notify – Extraction Failed"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_DRIVE_FOLDER_NAME",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        448
      ],
      "id": "74fc37a2-6918-429d-84a9-e3fade3f3408",
      "name": "Upload to Invoice Folder"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6bf13dcd-761e-416a-988c-7e3edf704b0f",
      "name": "Gmail Trigger: New Invoice"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        448
      ],
      "id": "f5c4b252-32f7-463a-95e1-861f9db2803a",
      "name": "Merge: Extracted Data + File"
    },
    {
      "parameters": {
        "content": "## 📧 Gmail Trigger\nPolls Gmail every minute for new emails with attachments. Downloads the attachment as binary (`attachment_0`) and passes it downstream together with the email metadata (sender, subject) which is reused in the Slack alert.",
        "height": 400,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -208
      ],
      "typeVersion": 1,
      "id": "89d26759-d4b9-4235-b98f-971dad60897f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🤖 Invoice Extraction\nSends the email attachment to **easybits Extractor** for invoice data extraction. Returns structured data under `json.data` – including the `invoice_number` field that the validation step checks against.",
        "height": 400,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -208
      ],
      "typeVersion": 1,
      "id": "3c535596-9225-48bf-b035-23712532e1b8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ✅ Validation Check\nChecks whether `invoice_number` was successfully extracted. Uses the **is empty** operator, which catches real nulls, undefined values, and empty strings in one condition.\n\n- **True branch** → extraction failed → Slack alert to finance\n- **False branch** → extraction succeeded → file is archived to Google Drive",
        "height": 400,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -208
      ],
      "typeVersion": 1,
      "id": "b441edbc-fd7e-4964-bedc-243fb0943706",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 💬 Slack Alert\nPosts a failure notification to the finance channel with the sender's email, the original subject line, and a timestamp. This gives Sarah immediate context to find the invoice in her inbox and enter the data manually.",
        "height": 400,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -208
      ],
      "typeVersion": 1,
      "id": "bdb5836d-89a6-44d8-aaa3-7babd0c220a2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🔗 Merge: Reattach File\nThe Extractor node drops the binary attachment from the item. This Merge node (combine by position) reunites the successful extraction data with the original file from the Gmail Trigger so it can be archived in Drive with the extracted metadata intact.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        208
      ],
      "typeVersion": 1,
      "id": "7fea6bf2-da35-4193-86ad-89aa3ab02344",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 📁 Upload to Invoice Folder\nOn successful extraction, uploads the original attachment to the **Invoices** folder in Google Drive for archival. Failed extractions are handled separately via the Slack alert and don't land here – only clean, validated invoices get stored.",
        "height": 432,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        208
      ],
      "typeVersion": 1,
      "id": "a8e9200b-84ae-4b25-bce2-63601065c681",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# ⚠️ easybits Extractor – Error Handling Workflow\n\n## What This Workflow Does\nMonitors incoming invoice emails and catches extraction failures before they slip through. When **easybits Extractor** can't extract the invoice number from an attachment, the workflow sends a Slack alert to finance so nothing gets lost. Successfully extracted invoices are archived to Google Drive – only clean, validated files land there.\n\n## How It Works\n1. **Gmail Trigger** – Polls for new emails with attachments every minute\n2. **Extraction** – The attachment is sent to easybits Extractor\n3. **Validation** – An IF node checks if `invoice_number` was successfully extracted\n4. **On failure** – A Slack alert is sent to finance for manual review\n5. **On success** – The file is merged back with its extracted data and archived to Google Drive\n\n## Why This Matters\nExtractor returns `null` when it can't confidently identify a data point — which is the right behavior (better than hallucinating a value). But without a safety net, those nulls can propagate into your Sheets, your approval flow, or your accounting system. This workflow makes silent failures visible.\n\n## Setup Guide\n### 1. Set Up Your easybits Extractor Pipeline\n1. Go to [extractor.easybits.tech](https://extractor.easybits.tech) and create a pipeline for invoice extraction\n2. Make sure your pipeline includes an `invoice_number` field (this is the field the validation step checks)\n3. Click **\"Auto-Map Fields\"** to let the Extractor suggest fields from a sample invoice, then review and save\n4. Copy your **Pipeline ID** and **API Key** from **Pipeline Details → View Pipeline**\n\n> 💡 **Tip:** You can validate against any field that's critical for your use case – just swap `invoice_number` in the IF node for whatever field you define as mandatory (e.g. `total_amount`, `vendor_name`).\n\n### 2. Install the easybits Extractor Node\n- **n8n Cloud:** The node is **verified** – just search for \"easybits Extractor\" in the node panel\n- **Self-hosted:** Go to **Settings → Community Nodes → Install** and enter `@easybits/n8n-nodes-extractor`\n\n### 3. Connect Your Credentials\n1. **Gmail Trigger: New Invoice** – Add your Gmail OAuth2 credential and confirm the polling interval\n2. **easybits: Extract Invoice Number** – Enter your Pipeline ID and API Key\n3. **Slack: Notify – Extraction Failed** – Add your Slack credential and update the target user or channel\n4. **Upload to Invoice Folder** – Add your Google Drive credential and select the folder where archived invoices should land\n\n### 4. Adjust the Validation Field (Optional)\nThe IF node currently checks `{{ $json.data.invoice_number }}` with the **is empty** operator. If your pipeline uses a different critical field, update this expression to point at that field.\n\n### 5. Activate & Test\n1. Click **Active** in the top-right corner of n8n\n2. Send yourself a test email with an invoice that's hard to read (blurry photo, scanned copy with poor contrast) to force an extraction failure\n3. Confirm you receive the Slack alert\n4. Send a clean invoice to confirm the success branch uploads correctly to Google Drive\n\n## 🔄 Extending This Pattern\nThis error handling branch can sit in front of any workflow in the easybits series:\n- **Invoice Approval Pipeline** – catch failed extractions before they hit Slack approval\n- **Document Classification Pipeline** – flag documents that couldn't be classified confidently\n- **Receipt-to-Sheet** – prevent null rows from polluting your expense tracker\n\nThe pattern is always the same: Extractor → IF (is empty) → error branch alongside your main path.",
        "height": 1456,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        -512
      ],
      "typeVersion": 1,
      "id": "fc3b8753-c6d4-4291-a0a6-028cf6d7ec45",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "easybits: Extract Invoice Number": {
      "main": [
        [
          {
            "node": "Validate: Invoice Number Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate: Invoice Number Present": {
      "main": [
        [
          {
            "node": "Slack: Notify – Extraction Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge: Extracted Data + File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Invoice Folder": {
      "main": [
        []
      ]
    },
    "Gmail Trigger: New Invoice": {
      "main": [
        [
          {
            "node": "easybits: Extract Invoice Number",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Extracted Data + File",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Extracted Data + File": {
      "main": [
        [
          {
            "node": "Upload to Invoice Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "tags": []
}
